---
---
<div class="text-justify">

    {% if entry.type == "proceedings" %}
    :notebook:
    {% endif %}

    {% if entry.tier == "workshop" %}
    :newspaper:
    {% endif %}

    {% if entry.tier != "workshop" and entry.type == "inproceedings" %}
    :newspaper: :large_orange_diamond:
    {% endif %}

    {% if entry.type == "misc" %}
    :black_nib:
    {% endif %}

    {% if entry.type == "article" %}
    :ledger:
    {% endif %}

    {% if entry.type == "thesis" %}
    :mortar_board:
    {% endif %}

    {{reference | replace_first: 'Gladkova, A.', '<b>Gladkova, A.</b>' | replace_first: 'Rogers, A.', '<b>Rogers, A.</b>' }}

    {% assign simpleKey = entry.key | split: "_" | slice:0, 4 %}
    {% assign simpleKey = simpleKey | join: "_" %}

    {% if entry.abstract %}
    <button class="btn--info" onclick="showBibtex('{{ simpleKey }}_abs')">Abstract</button>
    {% endif %}

    {% if entry.url %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.url }}'">PDF</button>
    {% endif %}

    {% if entry.blog %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.blog }}'">BLOG</button>
    {% endif %}

    {% if entry.code %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.code }}'">CODE</button>
    {% endif %}

    {% if entry.data %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.data }}'">DATA</button>
    {% endif %}

    {% if entry.slides %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.slides }}'">SLIDES</button>
    {% endif %}

    {% if entry.poster %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.poster }}'">POSTER</button>
    {% endif %}

    {% if entry.video %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.video }}'">VIDEO</button>
    {% endif %}

    {% if entry.demo %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.demo }}'">DEMO</button>
    {% endif %}

    {% if entry.leaderboard %}
    <button class="btn--success" onclick="window.location.href = '{{ entry.leaderboard }}'">LEADERBOARD</button>
    {% endif %}

    {% if entry.abstract %}
    <div class="abstract" id='{{ simpleKey }}_abs'>{{ entry.abstract }}</div>
    {% endif %}
</div>

{% if entry.note %}
<!--div>
    <em>{{ entry.note }}</em>
</div-->
{% endif %}

    {% if entry.pdf %}
    <span><a href="{{ entry.pdf }}">pdf</a></span>
    {% endif %}
